@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

#about {
  height: 800px;
}

#experience {
  height: 800px;
}

#education {
  height: 800px;
}

#skills {
  height: 800px;
}

#interests {
  height: 800px;
}

#achievement {
  height: 800px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 275px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar .image{
  height:130px;
  width:130px;
  margin-left:70px;
  margin-bottom:10px;
}

.wrapper .sidebar ul li{
  padding-left: 30px;
  margin:25px;
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  font-size: 20px;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
  margin-right:15px;
}

    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .download{
  position: absolute;
  top:90%;
  left: 45%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .download a{
  display: block;
  width: 150px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .sidebar .download a .fas{
  width: 25px;
  margin-right:5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 275px;
  background-color: #fff;
}

.wrapper .main_content #about .div1{
  padding-top:100px;
  padding-left:50px;
}

.wrapper .main_content #about .div1 h1{
  font-size:100px;
}

.wrapper .main_content #about .div1 h1 .text-primary{
  font-size:100px;
  color:#4b4276;
}

.wrapper .main_content #about .div1 .heading{
  padding-top:20px;
  font-size:20px;
  color:#a9a9a9;
}

.wrapper .main_content #about .div1 .subheading{
  padding-top:50px;
  font-size:20px;
}

.wrapper .main_content #about .div1 .social{
  padding-top:50px;
  font-size:50px;
}

.wrapper .main_content #about .div1 .social a{
  padding-right:20px;
}


.wrapper .main_content #experience .div2{
  padding-top:150px;
  padding-left:50px;
}

.wrapper .main_content #experience .div2 h1{
  font-size:50px;
  padding-bottom:30px;
}




.wrapper .main_content #education .div3{
  padding-top:150px;
  padding-left:50px;
}

.wrapper .main_content #education .div3 h1{
  font-size:50px;
  padding-bottom:30px;
}

.wrapper .main_content #education .div3 .qualification{
  padding-top:30px;
}

.wrapper .main_content #education .div3 .qualification .info{
  float:left;
}

.wrapper .main_content #education .div3 .qualification .info h2{
  font-size:25px;
}

.wrapper .main_content #education .div3 .qualification .info h3{
  padding-top:5px;
  font-size:20px;
  color:#696969;
}

.wrapper .main_content #education .div3 .qualification .info h4,p{
  font-size:15px;
  color:#A9A9A9;
}

.wrapper .main_content #education .div3 .qualification .date{
  padding-left:900px;
}

.wrapper .main_content #education .div3 .qualification .date h3 {
  color:#4b4276;
}




.wrapper .main_content #skills .div4{
  padding-top:150px;
  padding-left:50px;
}

.wrapper .main_content #skills .div4 h1{
  font-size:50px;
  padding-bottom:30px;
}



.wrapper .main_content #interests .div5{
  padding-top:150px;
  padding-left:50px;
}

.wrapper .main_content #interests .div5 h1{
  font-size:50px;
  padding-bottom:30px;
}






.wrapper .main_content #achievement .div6{
  padding-top:150px;
  padding-left:50px;
}

.wrapper .main_content #achievement .div6 h1{
  font-size:50px;
  padding-bottom:30px;
}

.wrapper .main_content #achievement .div6 ul li{
  margin:10px;
  font-size:20px;
}

.wrapper .main_content #achievement .div6 .fa{
  color:#FAC21B;
  font-size:25px;
}