html{
  scroll-behavior: smooth;
}
.profile{
    height:170px;
	width:170px;margin-top:20px;
	margin-left:35px;
	margin-bottom:10px;
}
#sidebaricon{
	margin-right:20px;
}
#social{
	font-size: 75px;
	padding-right:15px;
}
.project-light{
	font-size:17px; color:white;
}
.project-dark{
	font-size:17px; color:black;
}
#domain{
	font-size: 75px;
	padding-right:15px;
}
#trophy{
	color: #FAC21B;
	font-size: 25px;
}
.download-resume{
    background-color: #253544;
    color: white;
    border: 2px solid #e7e7e7;
    border-radius: 8px;
    position: absolute;
    bottom: 10%;
    left: 20%;
}
.download-resume a{
    width: 100px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 15px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.download-resume i{
    padding-left: 15px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #529BD6; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #17A2B8; 
}
::-webkit-scrollbar-track-piece
{
  background: #F2F7FB;
}